{
  "root": true,
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}