* text=auto

# These files need to have linux line-endings due to tools
# or the context in which they are used.
*.sh    text eol=lf
*.ts    text eol=lf
*.tsx   text eol=lf

*.png   binary
*.ico   binary
